@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
    margin: 0;
    padding: 45px,0,0,0;
    min-height:100%
}
header{
  background-image: url(../image/site/lMQYnwORmD.jpg);
  background-repeat:no-repeat, no-repeat;
  background-position: center;
  background-size:100% 100%;
  -moz-background-size:100% ;
  height:400px;
  padding: 1px;
}
#content{
  /* background: url(../image/site/download-2.jpg); */
  background-repeat:  round;
  /* height: 600px; */
  padding: 1px;
  min-height:600px;
}
.header_text{
  color: rgb(254, 254, 5);
  text-align: center;
  line-height: 400px;
  font-size: 75px;
}


.wrapper{
  display: flex;
  justify-content:space-between
}

.tabs{
  /* text-align:center; */
  margin-top:0px;
  font-size:18px;
  padding:0px;
  list-style:none;
  background:#fff;
  box-shadow:0px 5px 20px rgba(0,0,0,0.1);
  display:inline-block;
  border-radius:50px;
  /* padding-bottom: 2px; */
  position:relative;
  height:83%;
}

.tabs a{
  text-decoration:none;
  color: #777;
  text-transform:uppercase;
  padding:10px 20px;
  display:inline-block;
  position:relative;
  z-index:1;
  transition-duration:0.6s;
}

.tabs a.active{
  color:#fff;
}

.tabs a i{
  margin-right:5px;
}

.tabs .selector{
  height:100%;
  display:inline-block;
  
  position:absolute;
  left:0px;
  top:0px;
  z-index:1;
  border-radius:50px;
  transition-duration:0.6s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  
  background: #05abe0;
  background: -moz-linear-gradient(45deg, #05abe0 0%, #8200f4 100%);
  background: -webkit-linear-gradient(45deg, #05abe0 0%,#8200f4 100%);
  background: linear-gradient(45deg, #05abe0 0%,#8200f4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#05abe0', endColorstr='#8200f4',GradientType=1 );
}


.fir-clickcircle {
  height: 35px;
  width: 35px;
  border-radius: 100px;
  cursor: pointer;
}


.fir-image-figure  {
  display: flex;
  color:rgba(0,0,0, 0.40);
  font-family: "foco", Helvetica;
  font-weight: 400;
  font-size: 15px;
  margin:0px;
}
.fir-author-image{
  padding-top: 5px;
}

.info{
  text-align: center;
  padding-left: 10px;
}
.info:hover{
  background: linear-gradient(45deg, #05abe0 0%,#8200f4 100%);
}
.info img{
  text-align: center;
  width: 20px;
  height: 20px;
}

.usermsg,.category,.Null{
  display: none;
}

.showCategory,.valueNull{
  display:block;
}
#div_article{
	max-width:1400px;
	margin:0 auto 50px auto;
	text-align: left;
}

h3 a{
  text-decoration:none;
  color: rgb(65, 62, 56);
  text-transform:uppercase;
  padding:10px 0px;
}

h3 a:hover{
  color: #4b9ef7;
}

/* h3 a:visited{
  color: rgb(65, 62, 56);
} */


footer{
  background-image: url(../image/site/download-1.jpg);
  background-repeat: round;
  padding-top: 260px;
  min-height: 400px;
  text-align: center;
  color: rgb(65, 62, 56);
}
.links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 20px;
}
.links .links-left {
  width: 110px;
  font-size: 18px;
  color: rgb(37, 61, 51);
  margin-top: 20px;
  margin-right: 5px;
}
.links .links-right {
  width: 850px;
}

footer a{
  color: rgb(37, 61, 51);
  padding:10px 0px;
}

.goTop {
  position: fixed;
  bottom: 72px;
  right: 20px;
  z-index: 9999999;
  color: #fff;
  text-align: center;
  transition: none;
  background-color: rgb(37, 61, 51);
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  display: none;
}

.goTop:hover {
    color: #fff;
    background-color: #4b9ef7;
    cursor: pointer;
}
